body {
    font-family: 'Nunito Sans', sans-serif;
}

/*Header Page*/
#header-page{
    background-image: url('../backgrounds/h_img.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align:center;
    height: 100vh;
}

#header-page h1{
    padding: 2px;
    margin: 5px;
}

#header-page{
    padding: 2px;
}

#logo{
    margin-top: 250px;
}